<app-navbar></app-navbar>
<div class="form">
  <div class="container-fluid col-lg-4 col-md-6 ">
    <h2 class="text-primary text-center">Reset Password</h2>
    <br><br>
      <form #userform = "ngForm"  >
        <p>Enter your email address:</p>
        <div class="form-group d-flex align-content-between">
          <div >
            <input type="email" 
            class="form-control" 
            required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            [(ngModel)]="User.email" 
            name="Email" #email="ngModel">      
            <small [class.d-none]="email.valid || email.untouched"
             class="text-danger">Email is required and should be valid</small> 
          </div>
          <div>
            <button type="submit" 
            [disabled]="userform.invalid" 
            (click)="isButtonClicked = true"
            class="btn btn-primary ml-5">Verify</button>
          </div>    
        </div>
        
        <div *ngIf="isButtonClicked" class="form-group">
          <label>Enter OTP:</label>
    
          <input type="password" 
          class="form-control" 
          [(ngModel)]="User.otp" 
          required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
          name="otp" #otp="ngModel"
          [class.is-invalid]="otp.invalid && otp.touched" >
    
        </div>
    
      </form>
    
  </div>
  
</div>
<app-footer-short></app-footer-short>