
#form { 
  background: rgba(0, 0, 0, 0.15);
   padding: 0.25rem; 
    bottom: 0; left: 0;  
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
  }

#input {
   border: none;
  flex-grow: 1;
  border-radius:2rem;
  margin: 0.25rem;
 }
#input:focus { 
  outline: none; 
  font-size: small;
}
#form > button {
  background: #333;
  border: none; 
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
 }
#messages > li:nth-child(odd) {
   background: #efefef;
  }

.timestamp{
  font-size:small;
  color:rgba(38, 38, 60, 0.511);
  margin-bottom: 0.25rem;
}

.label-faculty{
    text-align:start;
    font-size:small;
    padding:5px;
    border:1px solid wheat;
    border-radius:15px;
    background-color: rgba(0, 128, 128, 0.686);
    width:100%;
    color:white;
}

.label-admin{
    text-align:start;
    font-size:small;
    padding:5px;
    border:1px solid rgb(54, 90, 109);
    border-radius:15px;
    background-color: wheat;
    width:100%;
    color:grey;
}

.talk-bubble {
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	/* background-color: lightyellow; */
}
.border{
  border: 8px solid #666;
}

