.col{
    /* background: #bee5ff; */
    margin-left: 10px;
    border-radius: 20px;
}
/* i{
    padding-right: 15px;
} */

#reqform{
    color: rgb(115, 164, 255);
}
h3{
    color: white;
}
.fa-book-reader{
    color: white;
}