/* body {
    font-family: Arial, sans-serif;
  }
  
  /* Styling the container */
  .container {
    background-color: #f0f5f9; /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling the header */
  h2 {
    color: #2c3e50; /* Dark blue header text */
  }
  
  /* Styling the paragraphs */
  p {
    color: #3c3c3c; /* Dark gray paragraph text */
  }
  
  /* Styling the vision & values header */
  h5 {
    color: #2c3e50; /* Dark blue header text */
  }
   