<div class="container mb-3" style="background-color: rgb(247, 249, 251); ">
    <div class="m-2 p-5 text-center text-dark"> 
           <h2 class="text-primary">ABOUT US</h2>
        <p >ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The organization had a humble beginning providing skill training programs to selected academic institutions. Over the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training and capacity-building programs in the state. ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improving their employability opportunities in the Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the IT industry.</p>
        <h5 class="text-primary">Vision & Values</h5>
        <p>  "To emerge as the single-point establishment for all the ICT related capability building in the state."</p>
    </div>
</div>
