<!-- <div class="d-flex flex-md-column justify-content-center  m-5">
    <div class="list-group" *ngFor="let form of curriculums">
      <div  class="list-group-item">
        <a (click)="view(form._id,form.name)"  class="list-group-item-action d-flex justify-content-between" style="cursor:pointer;background-color: rgba(202, 195, 156, 0.39);">
          {{form.requirementName}} - {{form.name}} 
        <div class="btn-group mr-2" role="group">
           <button type="button" class="btn btn-outline-secondary m-1" [routerLink]="['/dashboard/curriculum-list/view', form._id]"><i class="bi bi-eye-fill"></i></button>
          <button type="button" class="btn btn-outline-success m-1" [routerLink]="['/dashboard/curriculum-list/edit', form._id]"><i class="bi bi-pen-fill"></i></button> -->
          <!-- <button type="button" class="btn btn-outline-danger m-1 " (click)="delete(form._id)"><i class="bi bi-trash3-fill"></i></button> -->
          <!-- <button type="button" class="btn btn-outline-info m-1"><a href="{{form.referenceLink}}"><i class="bi bi-link-45deg"></i></a></button>
          <button type="button" class="btn btn-outline-warning m-1"><i class="bi bi-chat-square-dots-fill"></i></button> -->
        <!-- </div>
         </a>
       </div>
    </div>
  </div>  
<router-outlet></router-outlet>  -->
<h3 class="text-primary mt-5 ">Curriculums</h3>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-11 justify-content-center m-5">
        <div class="list-group" *ngFor="let form of curriculums">
          <div class="list-group-item d-flex justify-content-between">
            <a (click)="view(form._id,form.name,form.requirementName)" class="list-group-item-action d-flex justify-content-between" style="cursor:pointer;background-color: rgba(202, 195, 156, 0.39);">
              {{form.requirementName}}/{{form.trainingArea}} - {{form.name}}
            </a>
            <button type="button" class="btn btn-outline-white m-1 p-3" (click)="delete(form._id)"><i class="bi bi-trash3-fill icons"></i></button>
          </div>
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
